*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right bottom, #ece4e4, #cac4c3, #a9a4a3, #8a8684, #6b6967);
}
.header{
    height: 100vh;
}
.navHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Tenor Sans', sans-serif;
    
}
.header img{
    height: 10vh;
    margin: 5px;
    z-index: 1;
}
video{
    width: 98vw;
    position: absolute;
}
.navbar ul li a{
    color: bisque;
    font-size: 20px;
}
.row{
    margin: 80px;
}
main{
    margin: 200px 20px;
}
.bg-light {
    width: 450px;
    border-radius: 51% 0;
}
.bg-dark{
    width: 450px;
    border-radius: 5%;
}
.text-muted{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: bisque;
}
.img1{
    height: 500px;
    margin: 0  60px;
}
.col-md-5 img{
    height: 500px;
    margin-right: 60px;
}